:root {
	--container: 1200px;
}

@font-face {
	font-family: 'Sackers Medium';
	font-weight: 500;
	src: url('./../assets/fonts/SackersGothicStd-Medium.otf')
}

@font-face {
	font-family: 'Sackers Heavy';
	font-weight: 800;
	src: url('./../assets/fonts/SackersGothicStd-Heavy.otf')
}

@font-face {
	font-family: 'Sackers Light';
	font-weight: 300;
	src: url('./../assets/fonts/SackersGothicStd-Light.otf')
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Sackers Heavy';
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-left: calc(50% - var(--container) / 2);
    padding-right: calc(50% - var(--container) / 2);
}