/* styles de la page d'accueil (index.php) */

.hero {
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-name {
    font-family: 'Sackers Heavy';
    font-size: 12rem;
    padding-bottom: 2rem;
    transform: translateX(-26px);
    margin-top: -140px;
}

.about-us > .section__title {
    font-family: 'Sackers Light';
    transform: translateY(-60%);
}

.grape-image {
    transform: translateY(-80px);
}

.categories .section__content {
    margin: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.category__box {

}