/* styles de la page listant les produits*/

.content.products-page {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr auto;
    column-gap: 10%;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    grid-area: 1 / 1 / 1 / 3;
}

.header__title {
    font-family: 'SangBleu';
    text-transform: uppercase;
    font-size: 1.2rem;
}

.header__separator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
}

.header__separator > * {
    position: absolute;
    display: block;
    background-color: var(--black);
}

.header__separator > .line {
    width: 150px;
    height: 1px;
}

.header__separator > .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.header__description {
    line-height: 1rem;
}

.filters {
    grid-area: 2 / 1 / 2 / 1;
    position: relative;
    height: 100%;
}

.filters__forms {
    /* position: fixed; */
}

.search__form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.search__box {
    display: flex;
    align-items: center;
}

.search__label {
    margin: 0.8rem 0;
}

.search__input {
    background-color: var(--greyLight);
    color: var(--black);
    font-family: 'SangBleu';
    font-size: 1rem;
    border: none;
    padding: 8px 16px;
    border-radius: 2px 0 0 2px;
    width: 150px;
}

.search__submit {
    width: 37px;
    height: 37px;
    background-color: var(--black);
    background-image: url('./../assets/images/arrow_right_white.svg');
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 50% 50%;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.search__result-sentence {
    font-family: 'SangBleu';
    text-align: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}

.categories__form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.categories__list {
    display: flex;
    flex-direction: column;
}

.categories__entry {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-family: 'SangBleu';
    color: var(--black);
    text-align: left;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    cursor: pointer;
    position: relative;
}

.categories__entry::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: -35px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
    transform: translate3d(-3px, -5px, 0);
    opacity: 0;
    transition: all 0.2s ease-out;
}

.categories__entry:hover::after, .categories__entry.selected::after  {
    transform: translate3D(15px, -5px, 0);
    opacity: 1;
}

.products {
    grid-area: 2 / 2 / 2 / 2;
}

.product {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    margin: 12rem 0;
    flex-wrap: wrap;
}

.product__thumbnail {
    width: 30%;
}

.product__thumbnail > img {
    width: 100%;
}

.product__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.product__name {
    font-family: 'Sackers Heavy';
    font-size: 8rem;
    color: var(--black);
}

.product__details-container {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    flex-wrap: wrap;
}

.product__detail {
    color: var(--grey);
    margin: 0 3%;
}

.product__detail:first-of-type {
    margin-left: 1rem;
}

.product__description {
    color: var(--grey);
}

.product__price {
    margin-left: auto;
}

.product__button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media all and (max-width: 1300px) {

    .product__name {
        font-size: 2rem;
    }

}

@media all and (max-width: 1000px) {

    .product {
        flex-direction: column;
        margin: 2rem 0;
    }

    .product__infos {
        width: 100%;
    }

}

@media all and (max-width: 800px) {

    .content.products-page {
        display: flex;
        flex-direction: column;
    }

    .filters__forms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .categories__form {
        width: 100%;
    }

    .categories__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .categories__label {
        text-align: center;
        margin-bottom: 1rem;
    }

    .categories__entry {
        margin: 0 10%;
    }

}
